<%= turbo_frame_tag dom_id(job_application) do %>
  <div class="flex justify-center items-center w-full max-h-screen p-2 md:p-4">
    <div class="w-full md:w-[800px] bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 md:px-8 py-3 md:py-6 bg-gray-50 border-b border-gray-200">
        <h2 class="text-2xl font-bold text-gray-900"><%= "#{title} Job Application" %></h2>
        <p class="mt-1 text-sm text-gray-600">Please fill in the relevant details of your recent job application.</p>
      </div>
      <div class="px-8 py-6">
        <%= form_with(model: job_application, local: false, class: "space-y-6") do |form| %>
          <% if job_application.errors.any? %>
            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded-md" role="alert">
              <p><%= pluralize(job_application.errors.count, "error") %></p>
              <ul class="list-disc list-inside">
                <% job_application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <%= form.label :date_applied, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.date_field :date_applied, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :company_name, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.text_field :company_name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :method_of_contact, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.select :method_of_contact, JobApplication.method_of_contacts.keys.map { |k| [k.humanize, k] }, { include_blank: 'Select a method' }, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :email_address, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.email_field :email_address, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :point_of_contact, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.text_field :point_of_contact, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :website_link, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.url_field :website_link, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :position_type, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.select :position_type, JobApplication.position_types.keys.map { |k| [display_position_type(k), k] }, { include_blank: 'Select a type' }, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :position_title, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.text_field :position_title, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :status, class: 'block text-sm font-medium text-gray-700 mb-2' %>
              <%= form.select :status, JobApplication.statuses.keys.map { |k| [k.humanize, k] }, { include_blank: 'Select a status' }, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
              <div class="mt-8">
                <%= form.label :claimed_for_unemployment, class: 'flex items-center' do %>
                  <%= form.check_box :claimed_for_unemployment, class: 'h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded mr-2' %>
                  <span class="text-sm font-medium text-gray-700">Claimed for Unemployment</span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-end mt-6">
            <%= link_to 'Cancel', root_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2', data: { turbo_frame: "_top" } %>
            <%= form.submit "Save", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
