<%= turbo_frame_tag "job_applications_index" do %>
  <div id="flash_messages">
    <%= render 'flash_messages' %>
  </div>
  <div class="my-2 md:my-8">
    <div class="mb-8 flex justify-between items-center">
      <div class="flex items-center">
        <%= image_tag(asset_path('apple-touch-icon.png'),
          height: '32',
          width: '32',
          class: "rounded-full object-cover shadow-sm border-2 border-gray-200 mr-2",
          aria: { label: "Job Tracker logo" },
          title: "Job Tracker logo") %>
        <h2 class="hidden md:block md:text-2xl font-semibold text-gray-700 shadow-2xl">
          Job Tracker
        </h2>
      </div>
      <% if @job_applications.any? %>
        <%= link_to 'New Job Application', new_job_application_path, class: 'text-sm bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer', data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
    <% if @job_applications.any? %>
      <%= form_with url: job_applications_path, method: :get, data: { controller: "job-filter", turbo_frame: "job_applications_table" } do |form| %>
        <div class="flex flex-wrap -mx-2 mb-4">
          <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0">
            <%= form.label :search, "Search", class: "sr-only" %>
            <%= form.text_field :search, value: params[:search], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Search", data: { action: "input->job-filter#submit" } %>
          </div>
          <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0">
            <%= form.label :method_of_contact, "Contact Method", class: "sr-only" %>
            <%= form.select :method_of_contact,
              options_for_select([["All Contact Methods", ""]] + JobApplication.method_of_contacts.map { |k, v| [k.humanize, v] }, params[:method_of_contact]),
              {},
              class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
              data: { action: "change->job-filter#submit" }
            %>
          </div>
          <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0">
            <%= form.label :position_type, "Position Type", class: "sr-only" %>
            <%= form.select :position_type,
              options_for_select([["All Position Types", ""]] + JobApplication.position_types.map { |k, v| [display_position_type(k), v] }, params[:position_type]),
              {},
              class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
              data: { action: "change->job-filter#submit" }
            %>
          </div>
          <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0">
            <%= form.label :claimed_for_unemployment, "Unemployment Claim", class: "sr-only" %>
            <%= form.select :claimed_for_unemployment,
              options_for_select([["All Claims", ""], ["Claimed", "true"], ["Not Claimed", "false"]], params[:claimed_for_unemployment]),
              {},
              class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
              data: { action: "change->job-filter#submit" }
            %>
          </div>
          <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0">
            <%= form.label :status, "Application Status", class: "sr-only" %>
            <%= form.select :status,
              options_for_select([["All Statuses", ""]] + JobApplication.statuses.map { |k, v| [k.humanize, v] }, params[:status]),
              {},
              class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
              data: { action: "change->job-filter#submit" }
            %>
          </div>
          <div class="w-full md:w-1/6 px-2 mt-4 md:mt-0">
            <%= form.button "Reset Filters", type: "button", class: "w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded cursor-pointer", data: { action: "click->job-filter#reset" } %>
          </div>
        </div>
      <% end %>
      <%= turbo_frame_tag "job_applications_table" do %>
        <%= render partial: "job_applications_table", locals: { job_applications: @job_applications } %>
        <div id="pagination" class="mt-4">
          <%= render partial: "pagination", locals: { job_applications: @job_applications, job_application_count: @job_application_count } %>
        </div>
      <% end %>
    <% else %>
      <%= render 'empty_state' %>
    <% end %>
    <%= turbo_frame_tag "new_job_application" %>
  </div>
<% end %>
